{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block body %}
    <header>
        <div>
            <a href="{{ url_for('index') }}">
                <img width="966" height="214" src="{{ url_for('static', filename='images/logo.png')}}">
            </a>
            <span>Thank you for playing !</span>
        </div>
    </header>

    <main>
        <form class="d-grid" method="post" action="{{ url_for('register') }}">
            {{ form.csrf_token }}
            <div id="description">
                <budoux-ja>
                    <a href="{{ url_for('leaderboard') }}" style="text-decoration: none;">クリア者一覧</a>に登録する<br>ハンドルネームを入力してください！
                </budoux-ja>
            </div>
            {{ form.name(class_="form-control mb-2") }}
            {% if form.name.errors %}
                <div class="alert alert-danger alert-dismissible mb-0">
                    <span style="word-break: keep-all; overflow-wrap: anywhere;">
                        {{ form.name.errors[0]|safe }}
                    </span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            <button type="submit" class="btn btn-primary mt-2">登録</button>
        </form>
    </main>

    <footer>人間情報研究会</footer>

    <!-- Bootstrap, BudouX, Canvas Confetti -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/budoux/bundle/budoux-ja.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.0/dist/confetti.browser.min.js"></script>

    <script>
        const hasError = "{{ form.name.errors }}" !== "()";
    </script>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}